/* line 1, ../sass/plateau.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #171717 url("../images/darknoise-dark.jpg");
  font-size: 0.8vw;
}

/* line 10, ../sass/plateau.scss */
*:not(.chat, aside) {
  box-sizing: border-box;
}

@keyframes rotate {
  30%,70% {
    transform: rotate(90deg);
  }
  95%,100% {
    transform: rotate(0);
  }
}
/* line 33, ../sass/plateau.scss */
.turn-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  z-index: 10000;
  color: whitesmoke;
  font-family: "Bungee Inline";
  font-size: 6em;
  padding: 40vh 20vw;
  text-align: center;
  line-height: 4vh;
}
/* line 51, ../sass/plateau.scss */
.turn-message i {
  animation: rotate 2s 1s infinite;
  transition: .3s;
  font-size: 3em;
  margin-top: 2vh;
}

/* line 59, ../sass/plateau.scss */
.fin-partie {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  transform: translate(-50%, -50%);
}

/* line 2, ../sass/_tooltip.scss */
.tooltip, .tooltip-bottom, .tooltip-top, .tooltip-left, .tooltip-right {
  position: absolute;
  min-width: 150px;
  background-color: #333;
  border-radius: 3px;
  font-family: monospace !important;
  font-size: 0.9em;
  padding: 8px 10px;
  filter: drop-shadow(0 0 4px black);
  opacity: 0;
  transition: 0.3s;
  z-index: 1000000;
  pointer-events: none;
}
/* line 16, ../sass/_tooltip.scss */
.tooltip::before, .tooltip-bottom::before, .tooltip-top::before, .tooltip-left::before, .tooltip-right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/* line 26, ../sass/_tooltip.scss */
.tooltip-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%);
}
/* line 31, ../sass/_tooltip.scss */
.tooltip-bottom::before {
  top: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* line 40, ../sass/_tooltip.scss */
.tooltip-hover-bt {
  opacity: 1;
  transform: translate(-50%, 110%);
}

/* line 47, ../sass/_tooltip.scss */
.tooltip-top {
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%);
}
/* line 52, ../sass/_tooltip.scss */
.tooltip-top::before {
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* line 61, ../sass/_tooltip.scss */
.tooltip-hover-tp {
  opacity: 1;
  transform: translate(-50%, -110%);
}

/* line 68, ../sass/_tooltip.scss */
.tooltip-left {
  left: 0;
  top: 50%;
  transform: translate(-95%, -50%);
}
/* line 73, ../sass/_tooltip.scss */
.tooltip-left::before {
  right: -8px;
  top: 50%;
  transform: translate(0, -50%);
  border-top: 10px solid transparent;
  border-left: 10px solid #333;
  border-bottom: 10px solid transparent;
}

/* line 82, ../sass/_tooltip.scss */
.tooltip-hover-lf {
  opacity: 1;
  transform: translate(-110%, -50%);
}

/* line 89, ../sass/_tooltip.scss */
.tooltip-right {
  right: 0;
  top: 50%;
  transform: translate(95%, -50%);
}
/* line 94, ../sass/_tooltip.scss */
.tooltip-right::before {
  left: -8px;
  top: 50%;
  transform: translate(0, -50%);
  border-top: 10px solid transparent;
  border-right: 10px solid #333;
  border-bottom: 10px solid transparent;
}

/* line 103, ../sass/_tooltip.scss */
.tooltip-hover-rg {
  opacity: 1;
  transform: translate(110%, -50%);
}

/* line 2, ../sass/_neon.scss */
.border, .border-top, .border-top2, .border-right, .border-right2, .border-bottom, .border-bottom2, .border-left, .border-left2 {
  position: absolute;
  background-color: #fed3ff;
  border-radius: 20px;
  z-index: 120;
}

/* line 8, ../sass/_neon.scss */
.border-top, .border-top2 {
  top: -2px;
  width: 100%;
  height: 2px;
  box-shadow: 0 2px 20px #ff5ef7;
  border-bottom: 3px solid #ffb0fa;
}

/* line 16, ../sass/_neon.scss */
.border-top2 {
  background-color: #d7eeeb;
  box-shadow: 0 2px 20px #00b3ee;
  border-bottom: 3px solid #92f5fe;
}

/* line 22, ../sass/_neon.scss */
.border-right, .border-right2 {
  top: 0;
  right: -1px;
  width: 2px;
  height: 100%;
  box-shadow: 2px 0 20px #ff5ef7;
  border-left: 3px solid #ffbaf4;
}

/* line 31, ../sass/_neon.scss */
.border-right2 {
  background-color: #d7eeeb;
  box-shadow: 2px 0 20px #00b3ee;
  border-left: 3px solid #92f5fe;
}

/* line 37, ../sass/_neon.scss */
.border-bottom, .border-bottom2 {
  bottom: -2px;
  width: 100%;
  height: 2px;
  box-shadow: 0 -2px 20px #ff5ef7;
  border-top: 3px solid #ffbaf4;
}

/* line 45, ../sass/_neon.scss */
.border-bottom2 {
  background-color: #d7eeeb;
  box-shadow: 2px 0 20px #00b3ee;
  border-top: 3px solid #92f5fe;
}

/* line 51, ../sass/_neon.scss */
.border-left, .border-left2 {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  box-shadow: 2px 0 20px #ff5ef7;
  border-left: 3px solid #ffbaf4;
}

/* line 60, ../sass/_neon.scss */
.border-left2 {
  background-color: #d7eeeb;
  box-shadow: 2px 0 20px #00b3ee;
  border-left: 3px solid #92f5fe;
}

@keyframes flicker {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop {
  0% {
    box-shadow: 0 0 1000px rgba(130, 35, 120, 0.4), 0 0 1300px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 1000px rgba(130, 35, 120, 0.5), 0 0 1300px rgba(0, 0, 0, 0.7);
  }
}
@keyframes drop2 {
  0% {
    box-shadow: 0 0 500px rgba(45, 120, 150, 0.2);
  }
  100% {
    box-shadow: 0 0 500px rgba(45, 120, 150, 0.3);
  }
}
/* line 91, ../sass/_neon.scss */
.glitch {
  animation: flicker var(--animation-time) ease alternate infinite;
}

/* line 94, ../sass/_neon.scss */
#dropform {
  animation: drop var(--animation-time) ease alternate infinite;
}

/* line 97, ../sass/_neon.scss */
#dropform2 {
  animation: drop2 var(--animation-time) ease alternate infinite;
}

/* line 1, ../sass/_aside-plateau.scss */
aside .section-jr-top, aside .section-jr-bot {
  position: absolute;
  left: 0;
  right: 0;
}
/* line 5, ../sass/_aside-plateau.scss */
aside .section-jr-top h2, aside .section-jr-bot h2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3vw;
  margin: 0;
  padding: 10px;
  text-align: center;
  line-height: 1vw;
  color: #ff5ef7;
  font-family: "Bungee Inline";
  text-shadow: 0 0 10px #DC1ABF;
  box-sizing: border-box;
  font-size: 1vw;
}
/* line 22, ../sass/_aside-plateau.scss */
aside .section-jr-top .profil-img, aside .section-jr-bot .profil-img {
  position: relative;
  position: relative;
  width: 75%;
  margin: 10px auto;
  border-radius: 50%;
  border: solid 1px #ff5ef7;
  box-shadow: 0 0 20px rgba(130, 35, 120, 0.8), 0 0 10px #822378 inset;
}
/* line 25, ../sass/plateau.scss */
aside .section-jr-top .profil-img::after, aside .section-jr-bot .profil-img::after {
  content: '';
  display: block;
  padding-top: 100%;
}
/* line 30, ../sass/_aside-plateau.scss */
aside .section-jr-top .profil-img .profil-img-container, aside .section-jr-bot .profil-img .profil-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 39, ../sass/_aside-plateau.scss */
aside .section-jr-top .profil-img img, aside .section-jr-bot .profil-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 46, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions, aside .section-jr-bot .actions {
  position: relative;
  max-height: 28vh;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  flex-direction: column;
}
/* line 57, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions li, aside .section-jr-bot .actions li {
  position: relative;
  background: #111;
  width: 2.5vw;
  height: 2.5vw;
  color: #ff5ef7;
  margin: 5px;
  padding: 0;
  font-size: 1vw;
  border-radius: 5%;
  border: solid 2px #ff5ef7;
  box-shadow: 0 0 8px #DC1ABF inset, 0 0 10px #DC1ABF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 73, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions li img, aside .section-jr-bot .actions li img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 80%;
}
/* line 82, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .action1 i, aside .section-jr-bot .actions .action1 i, aside .section-jr-top .actions .action2 i, aside .section-jr-bot .actions .action2 i {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 92, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .action3 i, aside .section-jr-bot .actions .action3 i {
  position: absolute;
  padding: 0;
  margin: 0;
}
/* line 97, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .action3 i:first-child, aside .section-jr-bot .actions .action3 i:first-child {
  bottom: 10%;
  left: 17%;
}
/* line 101, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .action3 i:nth-child(2), aside .section-jr-bot .actions .action3 i:nth-child(2) {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
/* line 106, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .action3 i:last-child, aside .section-jr-bot .actions .action3 i:last-child {
  bottom: 10%;
  right: 17%;
}
/* line 112, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .action4 i, aside .section-jr-bot .actions .action4 i {
  position: absolute;
  padding: 0;
  margin: 0;
}
/* line 117, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .action4 i:first-child, aside .section-jr-bot .actions .action4 i:first-child {
  top: 10%;
  left: 18%;
}
/* line 121, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .action4 i:last-child, aside .section-jr-bot .actions .action4 i:last-child {
  bottom: 10%;
  right: 18%;
}
/* line 126, ../sass/_aside-plateau.scss */
aside .section-jr-top .actions .disabled-action, aside .section-jr-bot .actions .disabled-action {
  opacity: 0.6;
  cursor: unset;
}

/* line 133, ../sass/_aside-plateau.scss */
aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 7vw;
  background: #191919 url("../images/darknoise.png");
  z-index: 200;
  box-sizing: padding-box;
}
/* line 142, ../sass/_aside-plateau.scss */
aside .border, aside .border-top, aside .border-top2, aside .border-right, aside .border-right2, aside .border-bottom, aside .border-bottom2, aside .border-left, aside .border-left2 {
  z-index: auto;
}
/* line 145, ../sass/_aside-plateau.scss */
aside .section-jr-top {
  top: 0;
  height: 45%;
}
/* line 150, ../sass/_aside-plateau.scss */
aside .section-jr-bot {
  bottom: 0;
  height: 50%;
  transform: rotate(180deg);
}
/* line 155, ../sass/_aside-plateau.scss */
aside .section-jr-bot h2, aside .section-jr-bot .profil-img, aside .section-jr-bot .actions {
  transform: rotate(180deg);
}
/* line 158, ../sass/_aside-plateau.scss */
aside .section-jr-bot .actions {
  max-height: 30vh !important;
}
/* line 162, ../sass/_aside-plateau.scss */
aside .action1 {
  position: absolute;
}
/* line 167, ../sass/_aside-plateau.scss */
aside .action2 .tooltip-right {
  width: 17vw;
}
/* line 171, ../sass/_aside-plateau.scss */
aside .tooltip-right {
  padding-right: 0;
}
/* line 173, ../sass/_aside-plateau.scss */
aside .tooltip-right .card {
  position: relative;
  display: inline-block;
  width: 8vw;
  height: 9vw;
  margin: 0;
  padding: 0;
}
/* line 180, ../sass/_aside-plateau.scss */
aside .tooltip-right .card:last-child {
  float: right;
}
/* line 186, ../sass/_aside-plateau.scss */
aside .infos {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  height: 6vw;
  color: white;
  font-size: 1vw;
}
/* line 194, ../sass/_aside-plateau.scss */
aside .infos p {
  float: right;
  position: relative;
  font-family: "Bungee Inline";
  font-size: 1.6em;
  padding: 0 1vw;
  height: 5vw;
  margin: 1vw;
  display: flex;
  align-items: center;
}
/* line 205, ../sass/_aside-plateau.scss */
aside .infos .nb-card-deck {
  border: solid 2px #00ccff;
  margin-right: 3vw;
  border-radius: 5%;
  box-shadow: 0 0 10px #00b3ee inset, 0 0 20px #00b3ee;
}
/* line 210, ../sass/_aside-plateau.scss */
aside .infos .nb-card-deck::after, aside .infos .nb-card-deck::before {
  content: '';
  position: absolute;
  top: -1px;
  border-radius: 1000px;
  right: -0.5vw;
  height: 100%;
  width: 1px;
  border: solid 1px #00ccff;
  box-shadow: 0 0 10px #00b3ee inset, 0 0 20px #00b3ee;
}
/* line 221, ../sass/_aside-plateau.scss */
aside .infos .nb-card-deck::before {
  right: -1vw;
}

/* line 229, ../sass/_aside-plateau.scss */
.not-is-turn {
  opacity: 0.6;
  pointer-events: none;
  cursor: unset;
  filter: grayscale(60%);
}

/* line 1, ../sass/_persos.scss */
.persos .cartes .carte .carte-top, .persos .cartes .carte .carte-bot {
  position: absolute;
  width: 100%;
  height: 22%;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 14, ../sass/_persos.scss */
.persos .cartes .carte .carte-top li, .persos .cartes .carte .carte-bot li {
  position: relative;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 1000px;
  font-size: 1.5em;
  font-family: "Bungee Inline";
  background: #111;
  color: #00ccff;
  border: solid 2px #00ccff;
  text-shadow: 0 0 5px #00b3ee;
  box-shadow: 0 0px 10px #00b3ee inset, 0 0 20px #00b3ee, 0 0 30px black;
}

/* line 34, ../sass/_persos.scss */
.persos {
  position: absolute;
  bottom: 47vh;
  left: 0;
  width: 100%;
  height: 18vw;
  background: #111 url("../images/boat.jpg") no-repeat center/cover;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8) inset;
}
/* line 42, ../sass/_persos.scss */
.persos .cartes {
  position: absolute;
  top: 0;
  left: 12vw;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* line 51, ../sass/_persos.scss */
.persos .cartes .carte {
  position: relative;
  width: 13%;
  height: 74%;
  margin: 1%;
  z-index: 90;
  transform-style: preserve-3d;
}
/* line 58, ../sass/_persos.scss */
.persos .cartes .carte img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  border-radius: 2%;
  z-index: 90;
}
/* line 67, ../sass/_persos.scss */
.persos .cartes .carte .jeton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 30px);
  width: 3vw;
  height: 3vw;
  background-color: blue;
  z-index: 100;
  border-radius: 1000px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background: url("../images/cartes/card_token.jpg") no-repeat center/cover;
  transition: 0.2s;
}
/* line 81, ../sass/_persos.scss */
.persos .cartes .carte .carte-top {
  top: -15%;
}
/* line 85, ../sass/_persos.scss */
.persos .cartes .carte .carte-bot {
  bottom: -15%;
}

/* line 1, ../sass/_chat.scss */
.chat .chat-body .chat-messages .bulle-left p, .chat .chat-body .chat-messages .bulle-right p {
  position: relative;
  border-radius: 4px;
  min-height: 10px;
  min-width: 40px;
  max-width: 75%;
  display: inline-block;
  margin: 10px;
  padding: 7px 10px;
  box-sizing: border-box;
  font-family: monospace;
}

/* line 13, ../sass/_chat.scss */
.chat {
  position: absolute;
  box-sizing: revert;
  bottom: 0;
  right: 3vw;
  height: 19.5vw;
  width: 17vw;
  background: #222;
  box-shadow: 0 0 100px #731768;
}
/* line 22, ../sass/_chat.scss */
.chat .chat-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  align-items: end;
}
/* line 32, ../sass/_chat.scss */
.chat .chat-body .chat-messages {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: end;
  flex-flow: wrap;
  box-sizing: border-box;
  padding: 10px;
}
/* line 41, ../sass/_chat.scss */
.chat .chat-body .chat-messages .bulle-left {
  width: 100%;
  display: block;
}
/* line 44, ../sass/_chat.scss */
.chat .chat-body .chat-messages .bulle-left p {
  background: #444;
  color: whitesmoke;
  float: left;
}
/* line 49, ../sass/_chat.scss */
.chat .chat-body .chat-messages .bulle-left p::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -3px;
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #444;
  border-bottom: 7px solid transparent;
}
/* line 62, ../sass/_chat.scss */
.chat .chat-body .chat-messages .bulle-right {
  width: 100%;
  display: block;
}
/* line 65, ../sass/_chat.scss */
.chat .chat-body .chat-messages .bulle-right p {
  background: #DC1ABF;
  color: white;
  float: right;
}
/* line 70, ../sass/_chat.scss */
.chat .chat-body .chat-messages .bulle-right p::before {
  content: '';
  position: absolute;
  bottom: 5px;
  right: -4px;
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid #DC1ABF;
  border-bottom: 7px solid transparent;
}
/* line 85, ../sass/_chat.scss */
.chat .chat-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  z-index: 20;
}
/* line 95, ../sass/_chat.scss */
.chat .chat-foot form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #444;
}
/* line 103, ../sass/_chat.scss */
.chat .chat-foot form input {
  position: absolute;
  width: 78%;
  top: 15%;
  height: 65%;
  left: 15px;
  padding: 0 10px;
  background-color: rgba(50, 50, 50, 0.3);
  color: white;
  border: none;
  resize: none;
  box-sizing: border-box;
  z-index: 15;
  transition: 0.2s;
  overflow: hidden;
  font-size: 1em;
}
/* line 119, ../sass/_chat.scss */
.chat .chat-foot form input:focus {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 25px;
}
/* line 127, ../sass/_chat.scss */
.chat .chat-foot form button {
  font-size: 2em;
  position: absolute;
  bottom: 3px;
  right: 5px;
  width: 45px;
  height: 45px;
  transform: rotate(45deg);
  background: url("../images/send.svg");
  background-size: 50%;
  background-position: 10px 13px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 20;
  transition: 0.1s;
}
/* line 144, ../sass/_chat.scss */
.chat .chat-foot form button:active {
  background-color: rgba(200, 200, 200, 0.2);
}

/* line 1, ../sass/_deck.scss */
.echange, .echange-advs {
  position: absolute;
  bottom: 10.5vw;
  left: 23vw;
}
/* line 5, ../sass/_deck.scss */
.echange form, .echange-advs form {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
/* line 9, ../sass/_deck.scss */
.echange form input, .echange-advs form input {
  pointer-events: none;
  display: none;
}
/* line 13, ../sass/_deck.scss */
.echange form button, .echange-advs form button {
  position: absolute;
  right: -0.5vw;
  top: 50%;
  transform: translate(100%, -50%);
  width: auto;
  padding: 0 20px;
  height: 3vw;
  border-radius: 1000px;
  border: solid 2px #ff5ef7;
  background: #111;
  color: #ff5ef7;
  font-family: "Bungee Inline";
  font-size: 1.2em;
  box-shadow: 0 0px 10px #DC1ABF inset, 0 0 20px #DC1ABF, 0 0 30px black;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
/* line 33, ../sass/_deck.scss */
.echange form button:active, .echange-advs form button:active {
  opacity: 0.8;
}
/* line 40, ../sass/_deck.scss */
.echange .card-hole, .echange-advs .card-hole {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 45, ../sass/_deck.scss */
.echange .card-hole .destination, .echange-advs .card-hole .destination {
  position: relative;
  display: inline-block;
  width: 7vw;
  height: 9.5vw;
  margin-right: 0.5vw;
  background: #0e0e0e;
  border: solid 1px #222;
  border-radius: 5%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8) inset;
  pointer-events: none;
  overflow: hidden;
}
/* line 57, ../sass/_deck.scss */
.echange .card-hole .destination .card, .echange-advs .card-hole .destination .card {
  pointer-events: auto !important;
  position: absolute;
  width: 93%;
  height: 93%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(0) rotateX(0) perspective(0) !important;
}
/* line 65, ../sass/_deck.scss */
.echange .card-hole .destination .card::before, .echange-advs .card-hole .destination .card::before {
  display: none;
}
/* line 68, ../sass/_deck.scss */
.echange .card-hole .destination .card::after, .echange-advs .card-hole .destination .card::after {
  content: 'remettre la carte dans la main';
  color: white;
  font-family: monospace;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background: rgba(0, 0, 0, 0.8);
  transform: translateZ(50px);
  opacity: 0;
  transition: 0.2s;
}
/* line 87, ../sass/_deck.scss */
.echange .card-hole .destination .card:hover::after, .echange-advs .card-hole .destination .card:hover::after {
  opacity: 1;
}
/* line 94, ../sass/_deck.scss */
.echange hr, .echange-advs hr {
  border: solid 1px #999;
  box-shadow: 0 0 20px whitesmoke;
  position: relative;
  display: inline-block;
  width: 3px;
  height: 9.5vw;
  margin: 0.5vw 0.5vw 0 0;
  background: whitesmoke;
  border-radius: 1000px;
}

/* line 108, ../sass/_deck.scss */
.deck {
  position: absolute;
  bottom: -3vw;
  left: 12vw;
  height: 12vw;
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
}
/* line 118, ../sass/_deck.scss */
.deck .card:hover {
  top: -40%;
  z-index: 30;
}
/* line 121, ../sass/_deck.scss */
.deck .card:hover::before {
  box-shadow: 0 20px 70px -10px rgba(0, 0, 0, 0.3), 0 50px 100px 0 rgba(0, 0, 0, 0.4);
}
/* line 124, ../sass/_deck.scss */
.deck .card:hover .objet {
  bottom: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 132, ../sass/_deck.scss */
.deck .card:active {
  transform: scale3d(1, 1, 1) !important;
}

/* line 137, ../sass/_deck.scss */
.card {
  position: relative;
  width: 15%;
  height: 100%;
  transform-style: preserve-3d;
  top: 0;
  margin-right: -30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: top 0.2s;
}
/* line 149, ../sass/_deck.scss */
.card:before {
  content: '';
  position: absolute;
  top: 0%;
  left: 5%;
  height: 90%;
  width: 90%;
  border-radius: 5%;
  box-shadow: 0 20px 70px -10px rgba(0, 0, 0, 0.3), 0 50px 100px 0 rgba(0, 0, 0, 0.4);
  z-index: -1;
}
/* line 160, ../sass/_deck.scss */
.card .fond {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 3%;
  pointer-events: none;
}
/* line 168, ../sass/_deck.scss */
.card .objet {
  position: absolute;
  bottom: 2%;
  left: 5%;
  height: 90%;
  transition: 0.2s;
  transform: translateZ(30px);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 183, ../sass/_deck.scss */
.transZ {
  transform: translateZ(0) !important;
}

/* line 1, ../sass/_deck-advs.scss */
.deck-advs {
  position: absolute;
  top: 0;
  left: 18vw;
  height: 8vw;
  width: 50vw;
  display: flex;
}
/* line 8, ../sass/_deck-advs.scss */
.deck-advs .carte-advs {
  position: relative;
  margin-right: -20px;
  width: 16%;
  height: 137%;
  bottom: 70%;
  border-radius: 5px;
  background: #111 url("../images/cartes/card_back.jpg") no-repeat top/contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.5);
  transform: rotate(180deg);
}

/* line 23, ../sass/_deck-advs.scss */
.echange-advs button {
  left: 50%;
  transform: translate(-55%, -50%) !important;
  width: auto !important;
  padding: 0 20px !important;
}
