/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../sass/_neon.scss */
.border, .border-top, .border-top2, .border-right, .border-right2, .border-bottom, .border-bottom2, .border-left, .border-left2 {
  position: absolute;
  background-color: #fed3ff;
  border-radius: 20px;
  z-index: 120;
}

/* line 8, ../sass/_neon.scss */
.border-top, .border-top2 {
  top: -2px;
  width: 100%;
  height: 2px;
  box-shadow: 0 2px 20px #ff5ef7;
  border-bottom: 3px solid #ffb0fa;
}

/* line 16, ../sass/_neon.scss */
.border-top2 {
  background-color: #d7eeeb;
  box-shadow: 0 2px 20px #00b3ee;
  border-bottom: 3px solid #92f5fe;
}

/* line 22, ../sass/_neon.scss */
.border-right, .border-right2 {
  top: 0;
  right: -1px;
  width: 2px;
  height: 100%;
  box-shadow: 2px 0 20px #ff5ef7;
  border-left: 3px solid #ffbaf4;
}

/* line 31, ../sass/_neon.scss */
.border-right2 {
  background-color: #d7eeeb;
  box-shadow: 2px 0 20px #00b3ee;
  border-left: 3px solid #92f5fe;
}

/* line 37, ../sass/_neon.scss */
.border-bottom, .border-bottom2 {
  bottom: -2px;
  width: 100%;
  height: 2px;
  box-shadow: 0 -2px 20px #ff5ef7;
  border-top: 3px solid #ffbaf4;
}

/* line 45, ../sass/_neon.scss */
.border-bottom2 {
  background-color: #d7eeeb;
  box-shadow: 2px 0 20px #00b3ee;
  border-top: 3px solid #92f5fe;
}

/* line 51, ../sass/_neon.scss */
.border-left, .border-left2 {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  box-shadow: 2px 0 20px #ff5ef7;
  border-left: 3px solid #ffbaf4;
}

/* line 60, ../sass/_neon.scss */
.border-left2 {
  background-color: #d7eeeb;
  box-shadow: 2px 0 20px #00b3ee;
  border-left: 3px solid #92f5fe;
}

@keyframes flicker {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop {
  0% {
    box-shadow: 0 0 1000px rgba(130, 35, 120, 0.4), 0 0 1300px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 1000px rgba(130, 35, 120, 0.5), 0 0 1300px rgba(0, 0, 0, 0.7);
  }
}
@keyframes drop2 {
  0% {
    box-shadow: 0 0 500px rgba(45, 120, 150, 0.2);
  }
  100% {
    box-shadow: 0 0 500px rgba(45, 120, 150, 0.3);
  }
}
/* line 91, ../sass/_neon.scss */
.glitch {
  animation: flicker var(--animation-time) ease alternate infinite;
}

/* line 94, ../sass/_neon.scss */
#dropform {
  animation: drop var(--animation-time) ease alternate infinite;
}

/* line 97, ../sass/_neon.scss */
#dropform2 {
  animation: drop2 var(--animation-time) ease alternate infinite;
}

/* line 2, ../sass/_switchbox.scss */
.input-check {
  display: inline-flex;
  float: left;
  text-align: left;
  margin: 10px 0;
  font-family: monospace;
  color: #aaa;
  letter-spacing: initial;
  word-spacing: -3px;
}

/* line 12, ../sass/_switchbox.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-right: 10px;
}

/* line 19, ../sass/_switchbox.scss */
.switch input {
  display: none;
}

/* line 20, ../sass/_switchbox.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px #ff5ef7;
  border-radius: 2px;
  background-color: rgba(50, 50, 50, 0.5);
  box-shadow: 0 0 20px rgba(130, 35, 120, 0.8), 0 0 10px #822378 inset;
  transition: 0.2s;
}

/* line 33, ../sass/_switchbox.scss */
.slider::before {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 3px;
  height: 11px;
  width: 11px;
  border: solid 1px #ff5ef7;
  border-radius: 2px;
  background-color: rgba(200, 200, 200, 0.3);
  transition: 0.2s;
}

/* line 45, ../sass/_switchbox.scss */
input:checked + .slider {
  border-color: #0f0;
  box-shadow: 0 0 8px rgba(10, 255, 10, 0.8), 0 0 4px #0aff0a inset;
}
/* line 48, ../sass/_switchbox.scss */
input:checked + .slider:before {
  transform: translateX(110%);
  border-color: #0f0;
  background-color: #0f0;
  box-shadow: 0 0 20px rgba(10, 255, 10, 0.8), 0 0 10px #0aff0a inset;
}

/* line 1, ../sass/_scrollbar.scss */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
/* Handle */
/* line 10, ../sass/_scrollbar.scss */
::-webkit-scrollbar-thumb {
  border-radius: 50% 0 0 50%;
  background: rgba(230, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

/* line 15, ../sass/_scrollbar.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 255, 255, 0.4);
}

/* line 2, ../sass/_tooltip.scss */
.tooltip, .tooltip-bottom, .tooltip-top, .tooltip-left, .tooltip-right {
  box-sizing: border-box;
  position: absolute;
  background-color: #333;
  border-radius: 3px;
  font-family: monospace !important;
  font-size: 0.9em;
  padding: 8px 10px;
  filter: drop-shadow(0 0 4px black);
  opacity: 0;
  transition: 0.3s;
  z-index: 1000;
  pointer-events: none;
}
/* line 15, ../sass/_tooltip.scss */
.tooltip::before, .tooltip-bottom::before, .tooltip-top::before, .tooltip-left::before, .tooltip-right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/* line 25, ../sass/_tooltip.scss */
.tooltip-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%);
}
/* line 30, ../sass/_tooltip.scss */
.tooltip-bottom::before {
  top: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* line 39, ../sass/_tooltip.scss */
.tooltip-hover-bt {
  opacity: 1;
  transform: translate(-50%, 110%);
}

/* line 46, ../sass/_tooltip.scss */
.tooltip-top {
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%);
}
/* line 51, ../sass/_tooltip.scss */
.tooltip-top::before {
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* line 60, ../sass/_tooltip.scss */
.tooltip-hover-tp {
  opacity: 1;
  transform: translate(-50%, -110%);
}

/* line 67, ../sass/_tooltip.scss */
.tooltip-left {
  left: 0;
  top: 50%;
  transform: translate(-95%, -50%);
}
/* line 72, ../sass/_tooltip.scss */
.tooltip-left::before {
  right: -8px;
  top: 50%;
  transform: translate(0, -50%);
  border-top: 10px solid transparent;
  border-left: 10px solid #333;
  border-bottom: 10px solid transparent;
}

/* line 81, ../sass/_tooltip.scss */
.tooltip-hover-lf {
  opacity: 1;
  transform: translate(-110%, -50%);
}

/* line 88, ../sass/_tooltip.scss */
.tooltip-right {
  right: 0;
  top: 50%;
  transform: translate(95%, -50%);
}
/* line 93, ../sass/_tooltip.scss */
.tooltip-right::before {
  left: -8px;
  top: 50%;
  transform: translate(0, -50%);
  border-top: 10px solid transparent;
  border-right: 10px solid #333;
  border-bottom: 10px solid transparent;
}

/* line 102, ../sass/_tooltip.scss */
.tooltip-hover-rg {
  opacity: 1;
  transform: translate(110%, -50%);
}

/* line 1, ../sass/_footer.scss */
footer {
  font-family: "Bungee Inline", cursive;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  font-size: 0.8em;
}
/* line 11, ../sass/_footer.scss */
footer ul {
  padding: 2px;
  margin: 0;
  width: 516px;
  list-style: none;
  overflow: hidden;
}
/* line 17, ../sass/_footer.scss */
footer ul li {
  display: inline-block;
}
/* line 19, ../sass/_footer.scss */
footer ul li a {
  color: white;
  border-radius: 2px;
  border: solid 2px white;
  margin-right: 30px;
  padding: 0 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.6) inset;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 29, ../sass/_footer.scss */
footer ul .deco {
  float: right;
}
/* line 31, ../sass/_footer.scss */
footer ul .deco a {
  margin: 0;
  color: red;
  border-color: red;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3), 0 0 10px rgba(255, 0, 0, 0.6) inset;
}

/* line 41, ../sass/_footer.scss */
.admin, .backto-profil {
  position: absolute;
  top: 30px;
  right: 0px;
}
/* line 45, ../sass/_footer.scss */
.admin a, .backto-profil a {
  font-size: 0.8em;
  font-family: "Bungee Inline", cursive;
  color: white;
  border-radius: 2px;
  border: solid 2px white;
  margin-right: 30px;
  padding: 0 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.6) inset;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 57, ../sass/_footer.scss */
.backto-profil {
  top: 22%;
  left: 100px;
}

/* line 2, ../sass/_index.scss */
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: monospace;
  letter-spacing: 1px;
  color: white;
  background-color: #111;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 15, ../sass/_index.scss */
.clear {
  all: unset;
}

/* line 18, ../sass/_index.scss */
a {
  text-decoration: none;
  cursor: pointer !important;
  opacity: 0.8;
}
/* line 22, ../sass/_index.scss */
a:hover {
  opacity: 1;
}

/* line 28, ../sass/_index.scss */
.logo {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 520px;
  height: 130px;
  background-image: url("../images/titre.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* line 38, ../sass/_index.scss */
.case, .formulaire, .profil, .jouer, .edit, .passchange, .classement, .historique {
  position: absolute;
  top: 52%;
  left: 100px;
  transform: translate(0, -50%);
  width: 520px;
  height: 400px;
  background-color: rgba(5, 5, 5, 0.8);
  color: white;
  z-index: 50;
}
/* line 52, ../sass/_index.scss */
.case h1, .formulaire h1, .profil h1, .jouer h1, .edit h1, .passchange h1, .classement h1, .historique h1 {
  font-size: 1.8em;
  text-shadow: 0 0 20px white;
  margin: 15px;
  font-family: "Bungee Inline", cursive;
}
/* line 58, ../sass/_index.scss */
.case .container, .formulaire .container, .profil .container, .jouer .container, .edit .container, .passchange .container, .classement .container, .historique .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 52;
  box-sizing: border-box;
}
/* line 68, ../sass/_index.scss */
.case .sub-container, .formulaire .sub-container, .profil .sub-container, .jouer .sub-container, .edit .sub-container, .passchange .sub-container, .classement .sub-container, .historique .sub-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  z-index: 53;
  box-sizing: border-box;
}
/* line 76, ../sass/_index.scss */
.case .sub-container .foot, .formulaire .sub-container .foot, .profil .sub-container .foot, .jouer .sub-container .foot, .edit .sub-container .foot, .passchange .sub-container .foot, .classement .sub-container .foot, .historique .sub-container .foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 54;
  font-size: 0.9em;
  box-sizing: border-box;
}
/* line 85, ../sass/_index.scss */
.case .sub-container a, .formulaire .sub-container a, .profil .sub-container a, .jouer .sub-container a, .edit .sub-container a, .passchange .sub-container a, .classement .sub-container a, .historique .sub-container a {
  font-family: monospace;
  color: white;
  border: solid 1px white;
  padding: 6px 13px;
  letter-spacing: initial;
}
/* line 95, ../sass/_index.scss */
.case .back-head, .formulaire .back-head, .profil .back-head, .jouer .back-head, .edit .back-head, .passchange .back-head, .classement .back-head, .historique .back-head, .case .back-foot, .formulaire .back-foot, .profil .back-foot, .jouer .back-foot, .edit .back-foot, .passchange .back-foot, .classement .back-foot, .historique .back-foot {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 110px;
  transform: skewY(4deg);
  background-color: rgba(50, 50, 50, 0.2);
  z-index: 51;
  pointer-events: none;
}
/* line 106, ../sass/_index.scss */
.case .back-foot, .formulaire .back-foot, .profil .back-foot, .jouer .back-foot, .edit .back-foot, .passchange .back-foot, .classement .back-foot, .historique .back-foot {
  top: initial;
  bottom: -50px;
}

/* line 113, ../sass/_index.scss */
.formulaire {
  text-align: center;
}
/* line 117, ../sass/_index.scss */
.formulaire .foot {
  opacity: 0.8;
  padding: 20px 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* line 125, ../sass/_index.scss */
.connexion, .inscription {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  z-index: 60;
}
/* line 134, ../sass/_index.scss */
.connexion .form-container .connexion-options, .inscription .form-container .connexion-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6% 0 8%;
  box-sizing: border-box;
}
/* line 141, ../sass/_index.scss */
.connexion .form-container a, .inscription .form-container a {
  float: left;
  border: none;
}

/* line 147, ../sass/_index.scss */
.inscription {
  left: 100%;
}
/* line 150, ../sass/_index.scss */
.inscription input {
  margin: 5px 0;
}

/* line 154, ../sass/_index.scss */
.form-container {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 75%;
}
/* line 161, ../sass/_index.scss */
.form-container #check1, .form-container #check2, .form-container .edit .edit-form #check2, .edit .edit-form .form-container #check2, .form-container .passchange .edit-form #check2, .passchange .edit-form .form-container #check2 {
  position: absolute;
  bottom: 108px;
  right: 50px;
  color: #34ce57;
  text-shadow: 0 0 10px rgba(10, 255, 10, 0.5);
}
/* line 168, ../sass/_index.scss */
.form-container #check2 {
  bottom: 57px;
}

/* line 173, ../sass/_index.scss */
.toleft {
  transform: translate(-100%, 0) !important;
}

/* line 178, ../sass/_index.scss */
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
/* line 184, ../sass/_index.scss */
form input {
  width: 80%;
  margin: 15px 0;
  padding: 10px;
  border: solid 1px #ff5ef7;
  border-radius: 2px;
  background-color: rgba(50, 50, 50, 0.4);
  box-shadow: 0 0 20px rgba(130, 35, 120, 0.8), 0 0 10px #822378 inset;
  transition: 0.3s;
  font-family: monospace;
  color: white;
  font-size: 1.2em;
  text-shadow: 0 0 10px white;
}
/* line 198, ../sass/_index.scss */
form input:-webkit-autofill {
  background-color: rgba(50, 50, 50, 0.4) !important;
}
/* line 202, ../sass/_index.scss */
form button {
  padding: 6px 13px;
  margin-top: 10px;
  color: #ff5ef7;
  font-size: 1em;
  border: solid 1px #ff5ef7;
  border-radius: 2px;
  cursor: pointer;
  background-color: black;
  box-shadow: 0 0 20px rgba(130, 35, 120, 0.3), 0 0 10px rgba(130, 35, 120, 0.6) inset;
  transition: 0.1s;
}
/* line 213, ../sass/_index.scss */
form button:hover {
  box-shadow: 0 0 20px rgba(130, 35, 120, 0.8), 0 0 10px #822378 inset;
}
/* line 216, ../sass/_index.scss */
form button:active {
  opacity: 0.7;
}

/* line 3, ../sass/_profil.scss */
.profil .back-head, .jouer .back-head, .edit .back-head, .passchange .back-head, .classement .back-head, .historique .back-head, .profil .back-foot, .jouer .back-foot, .edit .back-foot, .passchange .back-foot, .classement .back-foot, .historique .back-foot {
  height: 140px;
}
/* line 6, ../sass/_profil.scss */
.profil .back-foot, .jouer .back-foot, .edit .back-foot, .passchange .back-foot, .classement .back-foot, .historique .back-foot {
  bottom: -70px;
}
/* line 9, ../sass/_profil.scss */
.profil h1, .jouer h1, .edit h1, .passchange h1, .classement h1, .historique h1 {
  margin: 0;
  width: 70%;
  line-height: 1.2em;
}
/* line 14, ../sass/_profil.scss */
.profil .email, .jouer .email, .edit .email, .passchange .email, .classement .email, .historique .email, .profil .drop-password .mail-form .password, .drop-password .mail-form .profil .password, .jouer .drop-password .mail-form .password, .drop-password .mail-form .jouer .password, .edit .drop-password .mail-form .password, .drop-password .mail-form .edit .password, .passchange .drop-password .mail-form .password, .drop-password .mail-form .passchange .password, .classement .drop-password .mail-form .password, .drop-password .mail-form .classement .password, .historique .drop-password .mail-form .password, .drop-password .mail-form .historique .password {
  display: block;
  opacity: 0.6;
  padding: 5px 10px 5px 0;
  font-size: 1.1em;
}
/* line 20, ../sass/_profil.scss */
.profil .profil-img, .jouer .profil-img, .edit .profil-img, .passchange .profil-img, .classement .profil-img, .historique .profil-img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px #ff5ef7;
  box-shadow: 0 0 20px rgba(130, 35, 120, 0.8), 0 0 10px #822378 inset;
  overflow: hidden;
}
/* line 30, ../sass/_profil.scss */
.profil .profil-img img, .jouer .profil-img img, .edit .profil-img img, .passchange .profil-img img, .classement .profil-img img, .historique .profil-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 101%;
}
/* line 38, ../sass/_profil.scss */
.profil .info-joueur, .jouer .info-joueur, .edit .info-joueur, .passchange .info-joueur, .classement .info-joueur, .historique .info-joueur {
  position: absolute;
  top: 53%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 60;
  font-family: "Bungee Inline", cursive;
}
/* line 48, ../sass/_profil.scss */
.profil .info-joueur a, .jouer .info-joueur a, .edit .info-joueur a, .passchange .info-joueur a, .classement .info-joueur a, .historique .info-joueur a {
  font-family: "Bungee Inline", cursive;
  border: none;
}
/* line 53, ../sass/_profil.scss */
.profil .foot, .jouer .foot, .edit .foot, .passchange .foot, .classement .foot, .historique .foot {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 60, ../sass/_profil.scss */
.jouer {
  position: relative;
  left: 660px;
  text-align: center;
  background-image: url("../images/game.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 68, ../sass/_profil.scss */
.jouer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
/* line 78, ../sass/_profil.scss */
.jouer a:hover .title-jouer {
  font-size: 3.3em;
}
/* line 82, ../sass/_profil.scss */
.jouer .title-jouer {
  font-family: 'Rock Salt', cursive;
  width: 70%;
  font-size: 3em;
  line-height: 1.3em;
  color: #92f5fe;
  text-shadow: 0 0 10px #00b3ee, 0 0 30px #00ccff;
  transition: 0.2s;
}
/* line 91, ../sass/_profil.scss */
.jouer .sub-container {
  background-color: rgba(0, 0, 0, 0.9);
}
/* line 93, ../sass/_profil.scss */
.jouer .sub-container .fa-times {
  color: #92f5fe;
  text-shadow: 0 0 10px #00ccff;
}
/* line 97, ../sass/_profil.scss */
.jouer .sub-container .form-container {
  height: 60%;
  display: flex;
  justify-content: center;
}
/* line 101, ../sass/_profil.scss */
.jouer .sub-container .form-container form {
  margin-top: 30px;
}
/* line 103, ../sass/_profil.scss */
.jouer .sub-container .form-container form .styled-select {
  position: relative;
  width: 200px;
  height: 40px;
  margin: 0 auto;
}
/* line 109, ../sass/_profil.scss */
.jouer .sub-container .form-container form select {
  color: white;
  position: absolute;
  font-family: monospace;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: solid 1px #92f5fe;
  border-radius: 5px;
  box-shadow: 0 0 5px black inset;
  background-color: rgba(30, 30, 30, 0.9);
  -webkit-appearance: none;
}
/* line 124, ../sass/_profil.scss */
.jouer .sub-container .form-container form .select-arrow {
  background-color: #222;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  pointer-events: none;
  border: solid 1px #92f5fe;
  border-radius: 0 5px 5px 0;
  padding-top: 5px;
  font-size: 1.5em;
  color: #92f5fe;
  text-shadow: 0 0 10px #92f5fe;
}
/* line 139, ../sass/_profil.scss */
.jouer .sub-container .form-container form button {
  color: #92f5fe;
  border-color: #92f5fe;
  box-shadow: 0 0 20px #003F4F, 0 0 10px #003F4F inset;
}

/* line 4, ../sass/_edit.scss */
.edit .edit-form button, .passchange .edit-form button {
  margin-top: 0;
}
/* line 7, ../sass/_edit.scss */
.edit .edit-form .fa-undo, .passchange .edit-form .fa-undo {
  font-size: 0.8em;
}
/* line 10, ../sass/_edit.scss */
.edit .edit-form .profil-img .edit-img, .passchange .edit-form .profil-img .edit-img {
  position: absolute;
  color: #ff5ef7;
  text-shadow: 0 0 10px #DC1ABF;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2em;
  cursor: pointer;
  opacity: 0.9;
}
/* line 25, ../sass/_edit.scss */
.edit .edit-form .profil-img .edit-img:hover, .passchange .edit-form .profil-img .edit-img:hover {
  opacity: 1;
}
/* line 29, ../sass/_edit.scss */
.edit .edit-form input, .passchange .edit-form input {
  background-color: rgba(30, 30, 30, 0.6);
  padding: 5px;
  margin: -5px;
  width: 320px;
}
/* line 35, ../sass/_edit.scss */
.edit .edit-form .email, .passchange .edit-form .email, .edit .edit-form .drop-password .mail-form .password, .drop-password .mail-form .edit .edit-form .password, .passchange .edit-form .drop-password .mail-form .password, .drop-password .mail-form .passchange .edit-form .password {
  opacity: 1;
}
/* line 38, ../sass/_edit.scss */
.edit .edit-form #check1, .passchange .edit-form #check1, .edit .edit-form #check2, .passchange .edit-form #check2 {
  position: absolute;
  bottom: 48px;
  right: 15px;
  color: #34ce57;
  text-shadow: 0 0 10px rgba(10, 255, 10, 0.5);
}
/* line 45, ../sass/_edit.scss */
.edit .edit-form #check2, .passchange .edit-form #check2 {
  bottom: 6px;
}

/* line 51, ../sass/_edit.scss */
.drop-password {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 91;
  transform: translate(0, -100%);
  transition: 0.3s;
  box-sizing: border-box;
}
/* line 62, ../sass/_edit.scss */
.drop-password .fa-times {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ff5ef7;
  text-shadow: 0 0 10px #DC1ABF;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 100;
}
/* line 73, ../sass/_edit.scss */
.drop-password .mail-form {
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
}
/* line 77, ../sass/_edit.scss */
.drop-password .mail-form .password {
  opacity: 1 !important;
}

/* line 83, ../sass/_edit.scss */
.drop-password-dropped {
  transform: translate(0, 0);
}

/* line 3, ../sass/_passchange.scss */
.passchange .up br {
  margin: 12px 0;
}

/* line 1, ../sass/_classement.scss */
.classement, .historique {
  width: 700px;
  transition: 0.8s;
}
/* line 3, ../sass/_classement.scss */
.classement h1, .historique h1 {
  margin: 0;
  width: 70%;
  line-height: 1.2em;
}
/* line 10, ../sass/_classement.scss */
.classement .sub-container, .historique .sub-container {
  height: auto;
}
/* line 14, ../sass/_classement.scss */
.classement .container .back-head, .historique .container .back-head, .classement .container .back-foot, .historique .container .back-foot {
  transform: skewY(1deg);
  top: -65px;
  background-color: rgba(20, 20, 20, 0.3);
  backdrop-filter: blur(5px);
}
/* line 21, ../sass/_classement.scss */
.classement .container-table, .historique .container-table {
  font-family: monospace;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -5px;
}
/* line 30, ../sass/_classement.scss */
.classement .container-table::before, .historique .container-table::before {
  content: '';
  position: absolute;
  top: -2px;
  width: 100%;
  height: 130px;
  background: linear-gradient(#111 40%, rgba(255, 255, 255, 0.001));
  pointer-events: none;
  z-index: 50;
}
/* line 40, ../sass/_classement.scss */
.classement .container-table .container-table-scroll, .historique .container-table .container-table-scroll {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 47, ../sass/_classement.scss */
.classement .container-table .container-table-scroll table, .historique .container-table .container-table-scroll table {
  margin-top: 80px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
/* line 54, ../sass/_classement.scss */
.classement .container-table .container-table-scroll table tbody:hover tr:not(:hover), .historique .container-table .container-table-scroll table tbody:hover tr:not(:hover) {
  color: #888;
}
/* line 56, ../sass/_classement.scss */
.classement .container-table .container-table-scroll table tbody:hover tr:not(:hover) a, .historique .container-table .container-table-scroll table tbody:hover tr:not(:hover) a {
  color: #888;
}
/* line 61, ../sass/_classement.scss */
.classement .container-table .container-table-scroll table tr, .historique .container-table .container-table-scroll table tr {
  border-bottom: solid 1px #222;
  transition: 0.1s;
}
/* line 64, ../sass/_classement.scss */
.classement .container-table .container-table-scroll table tr td, .historique .container-table .container-table-scroll table tr td, .classement .container-table .container-table-scroll table tr th, .historique .container-table .container-table-scroll table tr th {
  padding: 10px;
}
/* line 66, ../sass/_classement.scss */
.classement .container-table .container-table-scroll table tr td:nth-child(1), .historique .container-table .container-table-scroll table tr td:nth-child(1), .classement .container-table .container-table-scroll table tr th:nth-child(1), .historique .container-table .container-table-scroll table tr th:nth-child(1) {
  padding-left: 20px;
}
/* line 73, ../sass/_classement.scss */
.classement .container-table .container-table-scroll table tr a, .historique .container-table .container-table-scroll table tr a {
  color: white;
  opacity: initial;
  transition: 0.1s;
}
/* line 77, ../sass/_classement.scss */
.classement .container-table .container-table-scroll table tr a:hover, .historique .container-table .container-table-scroll table tr a:hover {
  text-decoration: underline;
}

/* line 3, ../sass/_historique.scss */
.historique .sub-container {
  z-index: 100;
}
/* line 5, ../sass/_historique.scss */
.historique .sub-container h1 {
  display: inline-block;
  float: left;
  width: auto;
  text-shadow: none;
}
/* line 10, ../sass/_historique.scss */
.historique .sub-container h1 p {
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 0;
  transform: translate(0%, 0);
  width: 250px;
  transition: 0.2s;
}
/* line 13, ../sass/_historique.scss */
.historique .sub-container h1 p:first-child {
  left: 6px;
}
/* line 16, ../sass/_historique.scss */
.historique .sub-container h1 p:last-child {
  left: 260px;
}
/* line 26, ../sass/_historique.scss */
.historique .sub-container h1:last-child {
  border: solid 1px rgba(200, 200, 200, 0.3);
  border-radius: 3px;
  box-shadow: 0 0 5px black inset;
  background-color: rgba(50, 50, 50, 0.6);
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 220px;
  height: 31px;
  margin-top: -6px;
}
/* line 41, ../sass/_historique.scss */
.historique .container-table-scroll {
  transition: 0.3s;
}
/* line 44, ../sass/_historique.scss */
.historique #table-hist-right {
  left: 100%;
}
