{% extends '@Api/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Documentation de l'API</h1>
        <br/>
        <h2>Ressources</h2>
        Pour le moment il n'est possible d'accéder qu'a la ressource users à l'adresse <code>{{ app.request.getSchemeAndHttpHost() ~ path('api_users_index') }}</code>avec une clé.
        <br/><br/>
        <h2>Paramètres</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>nom</th>
                    <th style="width: 30%;">descriptif</th>
                    <th>exemple</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code><i>string</i></code> key (obligatoire)</td>
                    <td>Votre clé d'api</td>
                    <td><code>/api/users?key=[key]</code><br/>permet d'accéder à la ressource <b>users</b></td>
                </tr>
                <tr>
                    <td><code><i>int</i></code> id</td>
                    <td>ID de l'utilisateur</td>
                    <td><code>/api/users?key=[key]&id=1337</code><br/>retourne l'utilisateur ayant <b>l'ID 1337</b></td>
                </tr>
                <tr>
                    <td><code><i>string</i></code> username</td>
                    <td>Pseudo de l'utilisateur</td>
                    <td><code>/api/users?key=[key]&username=toto</code><br/>retourne l'utilisateur ayant pour <b>pseudo toto</b> </td>
                </tr>
                <tr>
                    <td><code><i>int</i></code> elo</td>
                    <td>Elo de l'utilisateur</td>
                    <td><code>/api/users?key=[key]&elo=1200</code><br/>retourne tous les utilisateurs ayant <b>1200 d'elo</b></td>
                </tr>
                <tr>
                    <td><code><i>string</i></code> rank</td>
                    <td>Grade de l'utilisateur</td>
                    <td><code>/api/users?key=[key]&rank=silver</code><br/>retourne tous les utilisateurs ayant le <b>grade argent</b></td>
                </tr>
                <tr>
                    <td><code><i>bool</i></code> parties (valeur par défaut : 0)</td>
                    <td>Afficher ou non les parties de l'utilisateur<br/><small>Fonctionne uniquement si le résultat de la requête ne retourne qu'un utilisateur (i.e. avec ID ou username)</small></td>
                    <td><code>/api/users?key=[key]&id=1337&parties=1</code><br/>retourne l'utilisateur <b>1337 avec ses parties</b><br/></td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td><code><i>string</i></code> orderBy</td>
                    <td>Ordonne les résultats</td>
                    <td><code>/api/users?key=[key]&rank=silver&orderBy=elo-desc</code><br/>ordonne la requête par <b>elo décroissant</b></td>
                </tr>
                <tr>
                    <td><code><i>int</i></code> limit</td>
                    <td>Limite les résultats</td>
                    <td><code>/api/users?key=[key]&rank=silver&orderBy=elo-desc&limit=5</code><br/>limite la requête aux <b>5 premiers</b> résultats</td>
                </tr>
                <tr>
                    <td><code><i>int</i></code> offset</td>
                    <td><i>A utiliser avec limit.</i><br/>Décale le résultat de <b>limit</b></td>
                    <td><code>/api/users?key=[key]&rank=silver&orderBy=elo-desc&limit=5&offset=10</code><br/><b>décale</b> la requête de <b>10</b> résultats</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}