<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Retro Pirate Escape Simulator Deluxe 2018{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
            <style>
                #plateau li {
                    display: inline-block;
                    list-style-type: none;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        {% endblock %}
    </body>
</html>
