<footer>
    <nav>
        <ul style="width:696px;">
            <li><a href="http://rpesd2018.thibaudcordina.fr/promo/">Le site promo</a></li>
            <li><a href="">Règles</a></li>
            {% if app.user %}
                <li class="deco"><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="input-check-2">
        off
        <label class="switch">
            {% if app.request.cookies.get('ANIMATIONS') is not null %}
                {% if app.request.cookies.get('ANIMATIONS') == 1 %}
                    <input type="checkbox" id="check_animation" checked>
                {% else %}
                    <input type="checkbox" id="check_animation">
                {% endif %}
            {% else %}
                <input type="checkbox" id="check_animation" checked>
            {% endif %}
            <span class="slider"></span>
        </label>
        on
    </div>
    <p>Copyright © 2018 Joqer</p>
</footer>