<div class="chat-messages">
{% for message in messages|reverse %}
    {% if joueur == 1 %}
        {% if message.joueur.id == partie.joueur2.id %}
            <div class="bulle-left">
                <p>{{ message.contenu }}</p>
            </div>
        {% elseif message.joueur.id == partie.joueur1.id %}
            <div class="bulle-right">
                <p>{{ message.contenu }}</p>
            </div>
        {% endif %}
    {% elseif joueur == 2 %}
        {% if message.joueur.id == partie.joueur1.id %}
            <div class="bulle-left">
                <p>{{ message.contenu }}</p>
            </div>
        {% elseif message.joueur.id == partie.joueur2.id %}
            <div class="bulle-right">
                <p>{{ message.contenu }}</p>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
</div>