<div class="form-container">
    <h1>Choisir un adversaire</h1>
    <br>
    {{ form_start(form, {'action': path('partie_new'), 'method':'post'} ) }}
    <div class="styled-select">
        {{ form_widget(form) }}
        <i class="select-arrow fas fa-sort-down"></i>
    </div>
    <br>
    <button type="submit">Jouer !</button>
    {{ form_end(form) }}
</div>
