<h2>Invitation à une partie !</h2>
<p>Salut {{ joueur2 }}, tu as été invité à jouer une partie de RPESD2018 par {{ joueur1 }} !</p>
<p>Pour la rejoindre, <a href="{{ path('partie_show', {'id': partie.id}) }}">clique-ici</a> !</p>